.createNote {
  display: grid;
  grid-area: createNote;
  grid-template-rows: 1fr;
  grid-template-columns: 10fr 1fr;
  grid-template-areas: 
                      "written addd"
                      ;
  bottom: 0;
  width: auto;
  margin: 2px;
  padding: 1%;
}
.written {
  grid-area: written;
}

.add {
  grid-area: addd;
}

.icon {
  width: 50px;
}

.del, .edit, .ready, .add {
  margin: auto;
  display: grid;
}

.cursor {
  cursor: pointer;
}
.newNoteArea, .headingInput {
  margin: 3px;
  width: 96%;
  outline: none;
  resize: none;
  white-space: pre;
  border: none;
  font-size: 110%;
}
.headingInput {
  background-color: rgb(131, 130, 133);
}
.newNoteArea {
  background-color: rgb(127, 139, 165);
}
.createNote #editArea {
  display: none;
}
.btnBlock {
  display: flex;
  flex-direction: column;
}
input[type="text"]::placeholder, textarea::placeholder { 
  color: #2a2c36; 
} 
.blacklighGreen:hover {
  box-shadow: 0 0 7px 1px #b7ffa2;
}
.blacklighYelow:hover {
  box-shadow: 0 0 7px 1px #fff891;
}
.blacklighRed:hover {
  box-shadow: 0 0 7px 1px #ffa7a7;
}

.btnBlocked {
  width: 50px;
  height: 50px;
  cursor: wait;
  background: rgba(124, 58, 58, 0.5);
  box-shadow: 0 0 9px 1px #511fc4;
  pointer-events: auto; 
  /* pointer-events: initial; */
}

.cssload-container {
  position: absolute;
  left: 19%;
  top: 20%;
  width: 20px;
  height: 20px;
	text-align: center;
  cursor: wait;
}

.cssload-crazy-arrow {
	width: 20px;
  height: 20px;
  cursor: wait;
	margin: 0 auto;
	border: 5px solid;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-color: rgb(31, 14, 107);
	animation: cssload-spin 600ms infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

.btn {
  pointer-events: auto;
}